@import url(global.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

header img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
}

header ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header li a {
    color: var(--links-color);
    text-decoration: none;
    font-weight: 600;
}

header li a:hover {
    color: var(--links-color-hover);
}

header li a[href^="mailto:"]::before {
    content: "📧 ";
    margin-right: 5px;
}

header li a[href*="github.com"]::before {
    content: "🐙 ";
    margin-right: 5px;
}